<div class="container">
  <h1 class="text-center">My bookings</h1>
  <% if current_user.role == "owner" %>
    <% @bookings.each do |booking| %>
      <h3><%= booking.venue.name %></h3>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
    <% end %>
  <% end %>
</div>
