<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>)";>
  <div class="container text-center">
    <h1>Find Your Gig</h1>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @venues.each do |venue| %>
      <%= render "shared/card", venue: venue %>
    <% end %>
  </div>
  <button class="btn btn-success"><%= link_to "Add a venue", new_user_venue_path(current_user) %></button>
</div>
