@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  background-image: url("background.jpg");
}

//PAGE INDEX
.content-container {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//PAGE SHOW
// .show {
//   position: absolute;
//   z-index: -999;
//   width: 100%;
//   margin: 30px auto;
//   height: 380px;
//   background-image: url("banner.jpg");
//   background-size: cover;
//   background-position: top;
//   opacity: .6;
//   border-radius: 5px;
// }

.show .text-center {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  margin: 30px auto;
  width: 30%;
  padding: 14px;
  border-radius: 5px;
  text-transform: capitalize;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: hidden;
  height: 100vh;
}
