.card-product {
  overflow: hidden;
  height: 140px;
  width: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.user {
  color: orange;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.card-product .card-product-infos {
  padding: 16px;
  // display: flex;
  // align-items: flex-start;
}

#card-info-avatar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    width: 30px;
    position: absolute;
    right: 8px;
  }
}

#container-bookings {
  margin: 50px;
}
