.flex-show {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  height: 300px;
}

.img-venue {
  opacity: 1;
  width: 300px;
  border-radius: 10px;
}

.description-show {
  background-color: #FFF;
  width: 400px;
  height: 60%;
  align-items: center;
}
