.footer {
  background: #324A5F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: #FFF;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  font-size: .8em;
  p a {
    text-decoration: none;
    color: white;
  }
}
